export MAJOR=0
export MINOR=1
export PATCH=17
export VERSION=${MAJOR}.${MINOR}.${PATCH}
export IMAGE_TAG_BASE=quay.io/jskrzypek/openshift-node-upgrade-mutex-operator
export CATALOG_BASE_IMG=quay.io/jskrzypek/openshift-node-upgrade-mutex-operator-catalog:v$((MAJOR)).$((MINOR)).$((--PATCH))-index
